*,
*::after,
*::before {
  top: 0;
  margin: 0;
  box-sizing: border-box;
}

$red: red;

body {
  display: grid;
  place-items: center;
  background-color: $red;
}
main{
}

.container-top{
    img{
        width: 10rem;
    }
}
